@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

.avatar{
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
}

.avatarWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buyerReview{
    font-size: 16px;
    font-weight: 400;
    flex-direction: row;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 1.5;
}

.buyerBox{
    margin-left: 10px;
    margin-right: 10px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'League Spartan', sans-serif;
    margin-top: 15px;
}

.buyerWrapper{
    display: flex;
    flex-direction: column;
}

.buyerVerified{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: hsl(333, 80%, 67%);
    line-height: 1;
}

.desktopTop{
    display: none;
}

.desktopBottom{
    display: none;
}

.description{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(303, 10%, 53%);
    line-height: 1.5;
    text-align: center;
}

.headerAlign{
    display: flex;
    flex-direction: column;
}

.mobileTop{
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    z-index: -1;
}

.mobileBottom{
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 57rem;
    z-index: -1;
}

.rated{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-bottom: 10px;
}
.reviewAlign{
display: flex;
flex-direction: column;
}

.reviewWrapper{
    background-color: hsl(300, 24%, 96%);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.starWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.starMargin{
    margin-left: 10px;
}

.title{
    margin-top: 5rem;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: hsl(300, 43%, 22%);
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .avatar{
        border-radius: 50%;
        width: 2.5rem;
        display: flex;
    }
    
    .avatarWrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    .buyerReview{
        font-size: 16px;
        font-weight: 400;
        flex-direction: row;
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        line-height: 1.5;
    }
    
    .buyerBox{
        margin-right: 20px;
        margin-left: 0px;
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        font-family: 'League Spartan', sans-serif;
        margin-top: 0px;
        height: 170px;
    }

    .buyerBox1{
        margin-right: 0px;
        margin-left: 0px;
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        font-family: 'League Spartan', sans-serif;
        margin-top: 0px;
        height: 170px;
    }
    
    .buyerAlign{
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;
        height: 300px;
    }
    
    .buyerVerified{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        color: hsl(333, 80%, 67%);
        line-height: 1;
    }

    .buyerName{
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
    
    .desktopTop{
        display: inline;
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        z-index: -1;
    }
    
    .desktopBottom{
        display: inline;
        position: absolute;
        /* min-width: 100vh; */
        right: 0px;
        bottom: 0px;
        top: 5rem;
        z-index: -1;
    }
    
    .description{
        margin-left: 0px;
        margin-right: 30px;
        margin-bottom: 40px;
        margin-top: 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: hsl(303, 10%, 53%);
        line-height: 1.5;
        text-align: left;
        width: 25rem;
        
    }

    .headerAlign{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 5rem;
    }
    
    .mobileTop{
        display: none;
    }
    
    .mobileBottom{
        display: none;
    }

    .outerWrapper1{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .outerWrapper2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outerWrapper3{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .outerWrapper1a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .outerWrapper2a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outerWrapper3a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    
    .rated{
        font-family: 'League Spartan', sans-serif;
        font-weight: 700;
        color: hsl(300, 43%, 22%);
        margin-bottom: 0px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .reviewAlign{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 30rem;
    }
    
    .reviewWrapper{
        background-color: hsl(300, 24%, 96%);
        width: 25rem;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .starWrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .starMargin{
        margin-left: 10px;
    }

    .starMidWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title{
        margin-top: 5rem;
        margin-left: 0px;
        margin-right: 0px;
        width: 20rem;
        font-family: 'League Spartan', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: hsl(300, 43%, 22%);
        text-align: left;
    }
}
